/*Variables*/
:root {
    --basic-font-size: 1.6rem;
    --title-font-size: 3.2rem;
    --base-font-color: #000000;
    --background-color: #FCFB3B;
    --basic-font-weight: 500;
}

/*Default*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-flow: row wrap;
}

/*Header*/
header {
    margin: 5vh 5vw;
    width: 100%;
    margin-bottom: 2vh;
}

header > h1 {
    text-align: center;
    color: var(--base-font-color);
}

header > p {
    font-size: var(--basic-font-size);
    color: var(--base-font-color);
    font-weight: var(--basic-font-weight);
    text-align: center;
    margin: 1vh 0;
}

/*Main default mas desaparecidos*/
main {
    margin: 2vh 5vw;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    font-size: var(--basic-font-size);
    color: var(--base-font-color);
    font-weight: var(--basic-font-weight);
}

main > * {
    transition: 500ms all;
    margin-bottom: 2vh;
}

.figure {
    width: 100%;
    margin-top: 0;
}

.square, 
.rectangle, 
.triangle, 
.circle {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
}

.triangle__base, 
.triangle__sideA, 
.triangle__sideB,
.triangle__angle,
.triangle__results,
.triangle__results--picture,
.triangle__results--data {
    display: none;
}

.square > *, 
.rectangle > *, 
.triangle > *, 
.circle > * {
    margin-bottom: 2vh;
}

/*Cuadrado*/
.square__side {
    width: 100%;
}

.square__results {
    width: 100%;
    display: flex;
    height: 25vh;
}

.square__results--img {
    height: 100%;
}

.square__results--data {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    margin-left: 5vw;
}

.squareArea, .squarePerimeter {
    font-weight: bold;
}


/*Rectangle*/
.rectangle__side--a, .rectangle__side--b {
    width: 100%;
}

.rectangle__results {
    width: 100%;
    display: flex;
    height: 25vh;
}

.rectangle__results--img {
    height: 100%;
}

.rectangle__results--data {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    margin-left: 5vw;
}

.rectangleArea, .rectanglePerimeter {
    font-weight: bold;
}


/*Triangle*/
.triangle__base, .triangle__sideA, .triangle__angle {
    width: 100%;
}

.triangle__results {
    width: 100%;
    height: 30vh;
}

.triangle__results--picture {
    height: 100%;
}

.triangle__results--data {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    margin-left: 5vw;
}

.triangleArea, .trianglePerimeter {
    font-weight: bold;
}

/*Circulo*/
.circle__diameter {
    width: 100%;
}

.circle__results {
    width: 100%;
    display: flex;
    height: 25vh;
}

.circle__results--img {
    height: 100%;
}

.circle__results--data {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    margin-left: 5vw;
}

.circleArea, .circlePerimeter {
    font-weight: bold;
}


/*footer*/
footer {
    height: 10vh;
    margin: 5vh 5vw;
    margin-bottom: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer > a {
    text-decoration: none;
    font-size: var(--basic-font-size);
    color: var(--base-font-color);
    font-weight: var(--basic-font-weight);
}

footer > a:hover {
    text-decoration: underline;
}

footer > p {
    font-size: var(--basic-font-size);
    color: var(--base-font-color);
    font-weight: var(--basic-font-weight);
}